%btn {
    display: block;
    width: 100%;
    padding: .5em; 
    margin-bottom: .5em;
    border-radius: $radius;
    color: white;  
}
    
.btn--default {
    @extend %btn;
}

.btn--success {
    @extend %btn;
}

.btn--error {
    @extend %btn;
}

.btn--warning {
    @extend %btn;
}

.btn--info {
    @extend %btn;
}

.theme__colors {
    @include button__type(default);
}
