.btn--default {
    display: block;
    width: 100%
}
    

.btn--success {
    display: block;
    width: 100%
}

.btn--error {
    display: block;
    width: 100%
}
.btn--warning {
    display: block;
    width: 100%
}
.btn--info {
    display: block;
    width: 100%
}
.theme__colors {

}