%btn {
    display: block;
    width: 100%;
    padding: .5em; 
    margin-bottom: .5em;
    border-radius: $radius;
    color: white;  
    border: none;
    text-transform: uppercase;
}
    
.btn {
    @include bg-colors($ui-colors);
}

[class^= "btn"] {
    @extend %btn;
    &:hover {
        opacity: .70;
    }
}


