// Form

.form {
    @include e(label) {
        @include m(hidden) {
            display: none;
        }
    }

    @include e(input) {
        display: block;
        width: 100%;
        padding: .5em;
        margin-bottom: .8em;
        background-color: white;
        border-bottom: 4px solid $color-primary;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        font-family: $primary-font; 
        font-size: .8em;
        color: $color-text-main;
    }
}
