// Form

.form {

    @inlcude e(label) {
        @include m(hidden) {
            display: none;
        }
    }

    @include e(input) {
        display: block;
        margin-bottom: .8em;
        border-bottom: 4px solid $color-default;
    }
}
