.container {
    padding: 1.5em;
    @include mq(desktop) {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
}

.grid__row {
    padding-bottom: 1em;
    @include mq(desktop) {
        @include flexy(flex, row);
        justify-content: space-between;
    }
}



// ====================================
// Grid Columns  
// ====================================

// Calculate grid columns

@for $i from 1 through $grid-col-count {
    $context: g-context($grid-col-width, $grid-col-count, $grid-gutter-width) !global;
    $target: ($grid-col-width * $i) + ($grid-gutter-width* ($i - 1)) !global;
    // Generate column modifier classes
    .grid__col--#{$i} {
        padding: .5em;
        border-radius: $radius;
        font-family: $secondary-font;
        color: $color-text-main;
        
        @include mq(mobile) {
            margin-bottom: 1em;
        }
        @include mq(desktop) {
            width: percentage($target / $context);
            @include flexy(flex, row);
            justify-content: space-around;
            
        }
    }
}



@each $num, $color in $grid-theme-colors {
    .grid__col--#{$num}.theme__colors {
      background-color: $color;
    }
  }

.centered {
    margin-left: auto;
    margin-right: auto;
}