// Navigation


.nav {
    @extend %no-style-list;
    li {
        padding: .5em;
        text-align: center;
        border-radius: $radius;
        &:hover {
            background-color: $primary-color;
        }
    }
    a {
        font-family: $primary-font;
        font-size: 1em;
        color: $color-text-main;
    }
}
