%btn {
    padding: .5em; 
    margin-bottom: .5em;
    border-radius: $radius;
    color: white;  
    border: none;
    font-family: $secondary-font;
    font-size: .8em;
    text-transform: uppercase;
    display: block;
    width: 100%;
    @include mq(desktop) {
        display: inline-block;
        width: 150px;
    }
    
    
}
    
.btn {
    @include bg-colors($ui-colors);
}

[class^= "btn"] {
    @extend %btn;
    &:hover {
        opacity: .70;
    }
}


