
%flex-column {
    display: flex;
    flex-direction: column;
}

%flex-row {
    display: flex;
    flex-direction: row;
}

%text-decor-none {
    text-decoration: none;
}
%no-style-list {
    list-style: none;
    padding-left: 0; 
}

%center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}