// Color

$primary-color: #58e1c1;
$secondary-color: #51ddfc;
$color-text-main: grey;

// Breakpoints
$break-mobile: 480px;
$break-desktop: 1400px;

// Padding-Margins

$padding-standard: 1em;

// Button and Column Radius

$radius: 4px;