// Color

$primary-color: #58e1c1;
$secondary-color: #51ddfc;
$color-text-main: grey;

// Breakpoints
$break-mobile: 769px;

// Padding-Margins

$padding-standard: 1.2em;

// Button and Column Radius

$radius: 4px;

// Grid

$grid-col-width: 65px;
$grid-gutter-width: 20px;
$grid-col-count: 12;
$grid-cont-max-w: 1050px;