// Color

$color-default: #58e1c1;
$color-secondary: #51ddfc;
$color-success: #4bef2e;
$color-error: #e21723;
$color-warning: #ff7700;
$color-info: #652aff;
$color-text-main: grey;

// Breakpoints
$break-mobile: 769px;

// Padding-Margins

$padding-standard: 1.2em;

// Button and Column Radius

$radius: 4px;

// Grid

$grid-col-width: 65px;
$grid-gutter-width: 20px;
$grid-col-count: 12;
$grid-cont-max-w: 1050px;